#sidebar {
  float: right;
  width: 20em;
  display: inline;
  margin: 1em 1em 1em -22em;
}

.sidebox {
  margin-bottom: 1.5em;
}

#pageContent {
  margin: 1em;
  padding-top: 1em;
  min-height: 20em;
}

.content-with-sidebar {
  margin-right: 22em !important;
}
.roundbox {
  background-color: white;
}
.roundbox {
  border: 1px solid rgb(185, 185, 185);
  position: relative;
}

.roundbox .roundbox-lt {
  background: url("https://codeforces.com/images/roundbox/roundbox-lt.png")
    no-repeat top left;
  position: absolute;
  top: -1px;
  left: -1px;
}

.roundbox .roundbox-rt {
  background: url("https://codeforces.com/images/roundbox/roundbox-rt.png")
    no-repeat top right;
  position: absolute;
  top: -1px;
  right: -1px;
}

.roundbox .roundbox-lb {
  background: url("https://codeforces.com/images/roundbox/roundbox-lb.png")
    no-repeat bottom left;
  position: absolute;
  bottom: -1px;
  left: -1px;
}

.roundbox .roundbox-rb {
  background: url("https://codeforces.com/images/roundbox/roundbox-rb.png")
    no-repeat bottom right;
  position: absolute;
  bottom: -1px;
  right: -1px;
}

.roundbox table.rtable {
  width: 100%;
  margin-top: -4px;
  border: none;
}

.roundbox .rtable td,
.roundbox .rtable th {
  border: 1px solid rgb(185, 185, 185);
  border-right: none;
  border-top: none;
  padding: 4px;
  text-align: center;
  font-size: 0.9em;
}

.roundbox .rtable th {
  /*font-weight: bolder;*/
  font-size: 1em;
  padding-top: 7px;
}

.roundbox .rtable .left {
  border-left: none;
}

.roundbox .rtable .bottom {
  border-bottom: none;
}

.roundbox .rtable .corner {
  width: 10px;
  height: 10px;
}

.datatable td {
  width: auto !important;
  max-width: 30em !important;
  overflow: auto;
}

.datatable {
  width: 100%;
  position: relative;
}

.datatable table {
  width: 100%;
}

.datatable td,
.datatable th {
  border-top: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  padding: 0.4em;
  font-size: 1.3rem;
  /*font-size: 0.9em;*/
  text-align: center;
  overflow: hidden;
}

.datatable th {
  font-weight: bold;
}

.datatable .left {
  border-left: none;
}

.datatable .top {
  border-top: none;
}

.datatable .bottom {
  border-bottom: none;
}

.notice {
  color: #888 !important;
}

/*Filter*/
._FilterByTagsFrame_tagBoxPrototype {
  display: none;
}
._FilterByTagsFrame_tagBox {
  margin: 2px 2px 2px 0;
  padding: 0 3px 2px 3px;
  background-color: #f0f0f0;
  float: left;
}
._FilterByTagsFrame_tagBox img {
  position: relative;
  bottom: -1px;
  left: 1px;
  cursor: pointer;
}
._FilterByTagsFrame_tagBoxItem {
  font-size: 1.2rem;
}
._FilterByTagsFrame_addTag {
  font-size: 1.1rem;
  text-align: right;
}
._FilterByTagsFrame_addTag select {
  width: 100%;
  margin-top: 5px;
}
._FilterByTagsFrame_difficulty {
  overflow: auto;
  margin: 3px 0 10px 3px;
}
._FilterByTagsFrame_difficulty input {
  width: 6rem;
}
._FilterByTagsFrame_button {
  text-align: center;
}
._FilterByTagsFrame_button input {
  margin: 1em auto 0.25em auto;
  padding: 0 1em;
}
