.ProfileItem {
  display: flex;
  margin-bottom: 5px;
}

.ProfileItem img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 5px;
}

.ProfileItem .ItemTitle {
  margin-top: 4px;
  font-size: 19px;
  font-weight: 500px;
  font-family: Arial, Helvetica, sans-serif;
}

.ProfileItem .ItemContent {
  margin: 2px 0 0 10px;
  font-size: 20px;
}
